#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }
  
  .input{
    margin-left: 5px;
  }
  .loginButton{
    margin-top: 10px;
    width: 200px;
  }
  
  .inputGroup{
    display: flex;
    justify-content: space-between;
  }
  
  .inputGroup .label{
    flex: 1;
  }
  
  .inputGroup .input{
    flex: 1;
  }

  .label { 
    color: black; 
    padding: 5px;
  }
  
  
  